<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>指数数据平台</title>

<script type="text/javascript" src="/js/jquery/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.json-2.4.min.js"></script>
<script type="text/javascript">
	jQuery(function() {
		jQuery.getJSON('/data/amount.json', function(data) {
			//alert(jQuery.toJSON(data));
			window.chart = new Highcharts.StockChart({
				chart : {
					renderTo : 'container',
					zoomType : 'x',
					width : 600,
					height : 400
				},
				title : {
					text : '金额指数'
				},
				subtitle : {
					text : '招商银行'
				},
				exporting : {
					enabled : false
					//设置导出按钮不可用 
				},
				yAxis : {
					title : {
						text : '金额'
					}
				},
				series:data
			});
		});
	});

	/**
	 * Load json data
	 */
	function requestData(e) {
		//hart.showLoading('正在加载指标数据...');
		jQuery.getJSON('/data/amount.json', function(data) {
			chart.series[0].setData(data);
			chart.hideLoading();
		});
	}
</script>
</head>
<body>
	<script src="/js/chart/highstock.js"></script>
	<script src="/js/chart/modules/exporting.js"></script>
	<div id="container" style="height: 500px; min-width: 500px"></div>
</body>
</html>
